@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: #161620;
  color: #64667b;
}

li {
  list-style: none;
}

.container {
  width: 80%;
  margin: auto;
}

section {
  min-height: 100vh;
  header {
    background: url("../images/bg-mobile-dark.jpg");
    height: 100px;
    .container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      height: 100%;
      padding-top: 3rem;
      width: 40%;
      .logo {
        font-size: 2rem;
        letter-spacing: 5px;
        color: #fff;
      }
    }
  }

  .article-container {
    display: grid;
    place-items: center;
    article {
      .todo-input {
        width: 25rem;
        padding: 2rem 0;

        input {
          padding: 1rem;
          min-width: 100%;
          background-color: #25273c;
          border: none;
          border-radius: 5px;
          color: #fff;

          &::placeholder {
            color: #64667b;
          }

          &:focus {
            outline: none;
          }
        }
      }

      .grid-container {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        gap: 1rem;
      }

      .todo-list {
        width: 25rem;
        border-radius: 5px;
        background-color: #25273c;

        .todo {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #36384d;
          height: 50px;
          padding: 0 1rem;
          align-items: center;

          .todo-info {
            display: flex;
            align-items: center;

            .todo-work {
              text-decoration: line-through;
            }
          }

          .checkmark {
            border: 1px solid hsl(236, 9%, 61%);
            border-radius: 100%;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-right: 10px;

            .done {
              display: block;
              max-width: 25px;
              min-height: 25px;
              cursor: pointer;
              border-radius: 100%;
            }

            .un-done {
              display: none;
              cursor: pointer;
            }
          }

          .remove {
            max-width: 15px;
            min-height: 15px;
            cursor: pointer;
          }
        }

        .todo-status {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 1rem;
          height: 50px;

          .clear {
            cursor: pointer;

            &:hover {
              color: #e4e5f1;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 425px) {
  section {
    .header {
      .container {
        width: 90%;
      }
    }
  }
}
